@{
    ViewData["Title"] = "Contacts";
}

<div class="container h-100 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Адрес:</h5>
            <p class="card-text">ул. „8-ми март“ 232, Перник</p>

            <div class="mb-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d873.0398021093517!2d23.033397165902073!3d42.6074140754082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aacac3bbc30045%3A0x1282864432d70ccb!2z0J_QnNCTICLQpdGA0LjRgdGC0L4g0KHQvNC40YDQvdC10L3RgdC60Lgi!5e0!3m2!1sbg!2sbg!4v1719919786698!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <h5 class="card-title">Телефон:</h5>
            <p class="card-text">+359 123 456 789</p>

            <h5 class="card-title">Електронна поща:</h5>
            <p class="card-text">info@example.com</p>
        </div>
    </div>
</div>