@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Добре дошли</h1>
    <p class="lead">Вашето място за покупка на музикални албуми онлайн.</p>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="image-container">
                <img src="~/img1.png" alt="Музикален албум" class="img-fluid rounded">
            </div>
            <h3 class="mt-3">Открийте нови албуми</h3>
            <p>Разгледайте нашата колекция от най-новите и популярни музикални албуми. Ние предлагаме разнообразие от жанрове, които ще задоволят всеки вкус.</p>
            <a asp-controller="Albums" asp-action="Index" class="btn btn-success mt-3">Виж всички албуми</a>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="~/img2.jpg" alt="Продавайте албум" class="img-fluid rounded">
            </div>
            <h3 class="mt-3">Продавайте вашите албуми</h3>
            <p>Имате собствен музикален албум? Регистрирайте се и започнете да продавате вашите музикални творения на нашата платформа. Достигнете до повече фенове и увеличете приходите си.</p>
            <a asp-controller="Albums" asp-action="Create" class="btn btn-success mt-3">Добави нов албум</a>
        </div>
    </div>
</div>
